_git

**/bin
**/obj
**/packages
**/android/ARM
**/ios/ARM
**/DerivedData
**/DebugAndroid
**/DebugIOS
**/DebugWin
**/Debug
**/Release
**/x64/Debug
**/x64/Release
**/ipch/
**/DebugLib
**/ReleaseLib
**/CMakeFiles

.tfignore

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.db

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
#*.exe
*.out
*.app
*.tlog
*.sdf
*.pdb
*.filters
*.suo
*.filters
*.DS_Store
*.xcuserstate
*.user
*.opensdf
*.opendb
*.log