/Medusa/DerivedData/
/Medusa/MedusaCore/ios/MedusaCore/DerivedData/
/Medusa/Medusa/android/x86/DebugWin/
/Medusa/MedusaCore/android/ARM/DebugAndroid/
/Medusa/MedusaExtension/android/x86/DebugWin/
/Medusa/x86/DebugWin/
/Medusa/DebugWin/
/Medusa/DebugAndroid/
/Medusa/Medusa/ios/Medusa/DerivedData/
/Medusa/Medusa/ios/DerivedData/
/Medusa/MedusaExtension/ios/MedusaExtension/DerivedData/
/Medusa/Medusa/win/DebugWin/
/Medusa/MedusaCore/win/DebugWin/
/Medusa/MedusaExtension/win/DebugWin/
/Medusa/MedusaExtension/win/Debug/
/Medusa/MedusaExtension/win/Release/
/Medusa/MedusaCore/android/x86/DebugAndroid/
/Medusa/MedusaCore/android/x86/DebugWin/
/Medusa/MedusaCore/win/DebugAndroid/
/Medusa/MedusaExtension/android/x86/DebugAndroid/
/Medusa/x86/DebugAndroid/
/Medusa/Medusa/android/x86/DebugAndroid/
/Medusa/Medusa/win/DebugAndroid/
/Medusa/MedusaProto/bin/
/Medusa/MedusaProto/obj/
/Medusa/packages/
/Medusa/Siren/bin/
/Medusa/Siren/obj/
/Test/Test/android/Test.Android.Packaging/x86/DebugAndroid/
/Test/Test/android/Test.Android.NativeActivity/x86/DebugAndroid/
/External/AngelScript/ios/AngelScript/DerivedData/
/External/curl/ios/curl/DerivedData/
/External/freetype/ios/freetype/DerivedData/
/External/jpeg/ios/jpeg/DerivedData/
/External/png/ios/png/DerivedData/
/External/unzip/ios/unzip/DerivedData/
/External/zlib/ios/zlib/DerivedData/
/External/Lzma/ios/Lzma/DerivedData/
/External/ogg/ios/ogg/DerivedData/

/Test/Test/android/Test.Android.NativeActivity/x86/DebugWin/
/Test/Test/win/DebugWin/
/Test/Test/win/Debug/
/Test/Test/win/Release/
/Test/Test/ios/DerivedData/

/Test/UnitTest/Debug/
/Test/UnitTest/Release/

/Test/DotNetUnitTest/bin/
/Test/DotNetUnitTest/obj/


/Tool/CodeAnalyzer/bin/
/Tool/CodeAnalyzer/obj/

/Tool/FileWrapper/FileWrapper/bin/
/Tool/FileWrapper/FileWrapper/obj/

/Tool/GameKit/GameKit/bin/
/Tool/GameKit/GameKit/obj/

/Tool/IndexGenerator/bin/
/Tool/IndexGenerator/obj/

/Tool/MatrixMultiply/MatrixMultiply/bin/
/Tool/MatrixMultiply/MatrixMultiply/obj/

/Tool/Versioner/bin/
/Tool/Versioner/obj/

/Tool/CodeGenerator/Debug/
/Tool/CodeGenerator/Release/

/Tool/Packer/Debug/
/Tool/Packer/Release/
/Tool/Packer/x64/Debug/
/Tool/Packer/x64/Release/
/Tool/Packer/ipch/
/Tool/Packer/packages/

/Template/StaticLibary/android/ARM/
/Template/StaticLibary/ios/ARM/

.tfignore

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.sdf
*.pdb
*.filters
*.suo
*.filters
*.DS_Store
*.xcuserstate
*.user
/Medusa/Debug
/Medusa/Medusa/win/Debug
/Medusa/MedusaCore/win/Debug
/Medusa/ipch
*.opensdf
